# Core UI
streamlit

# LLM + APIs
openai
transformers
langchain
langchain-openai
python-dotenv

# NLP & Translation
langdetect
textblob
deep-translator
# Optional alternative: googletrans==4.0.0-rc1

# Web scraping & requests
beautifulsoup4
requests

# ML & Embeddings
torch
faiss-cpu
tqdm

huggingface-hub
